@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1200px,100vw);
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    height: 62px;
}
nav img{
    width: 114px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height:calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 23px;
    padding: 0 30px;
    color: white;
    position: relative;
}
.hero>:nth-child(1){
    font-family: 'Poppins',sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;

}
.hero>:nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;

}
.hero>:nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;

}
.seperation{
    height: 7px;
    background-color: rgb(50, 50, 50);
}
.btn{
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    background-color: rgba(23,23,23,0.3);
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(211, 211, 211, 0.5);
}
.first{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: white;
}
.secImg{
    position: relative;
}
.secImg img{
    width: 30vw;
    position: relative;
    z-index: 10;
}
.secImg video{
    position:absolute;
    top: 51px;
    right: 0px;
}